@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #053b50;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Sora";
  --text-color: #2e97a7;
  --navbar-color: #282828;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
  Reset Default CSS End
  ==================== */

html {
  overflow-x: hidden;
}

body.dark {
  --light: var(--primary-color);
  --grey: var(--dark);
  --dark: var(--black);
}

body {
  background: var(--white);
  overflow-x: hidden;
}

/* SIDEBAR */

.sidebar-nav {
  margin-top: 15px !important;
}

.sidebar-nav .active .sidebar_active_link {
  margin: 5px 0 0 5px;
  padding: 10px;
  background: var(--white);
  border-radius: 5px 0 0 5px !important;
  display: flex !important;
  word-wrap: nowrap !important;
  align-items: center !important;
}

.sidebar-nav .active span {
  color: var(--primary-color) !important;
  font-size: 14px;
}

.sidebar-nav .active .lni svg rect {
  stroke: #053b50 !important;
}

.sidebar-nav .active .nin svg path {
  stroke: var(--primary-color) !important;
  fill: none !important;
}

#sidebar.hide .sidebar-item span {
  display: none;
  word-wrap: nowrap;
  font-weight: 500;
  transition: 0.5s ease-in-out !important;
}

#sidebar.hide .sidebar-nav .active .sidebar_active_link {
  margin: 0px 7px 0 0px !important;
  border-radius: 5px 5px !important;
}

#sidebar.hide .lni svg {
  margin-right: 10px;
}

a.sidebar-link {
  display: block;
  white-space: nowrap;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center !important;
  gap: 10px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  margin: 10px 0 0 10px;
}

.sidebar-link i svg {
  width: 30px;
  height: 25px;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.navbar_right_arraw svg {
  width: 10px;
  margin-left: 50px;
}

.navbar_name {
  font-size: 14px;
  color: var(--white);
  margin-left: 10px;
}

.sidebar_menu {
  background: var(--navbar-color);
  border-radius: 5px 0 0 5px;
}

#sidebar.hide .sidebar_menu {
  display: none;
}

.sidebar_menu .sidebar-items {
  border-bottom: 1px solid var(--primary-color);
  display: block;
  padding: 0px 0 0 0;
  margin: 0 !important;
  color: var(--white);
  position: relative;
}

.sidebar_menu .sidebar-items a {
  color: var(--white);
  display: flex;
  padding: 0 0 0 10px;
  align-items: center;
  justify-content: start;
  font-size: 14px;
}

.sidebar_menu .active a {
  color: var(--white);
  /* margin-left: 35px; */
  position: relative;
  display: flex;
  padding: 0 0 0 10px;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.sidebar_menu .active a::after {
  width: 8px;
  height: 8px;
  background: #2e97a7;
  position: absolute;
  content: "";
  top: 36%;
  border-radius: 50%;
  left: 3%;
}

.nav_menu_right_arraw svg {
  width: 10px;
  margin-left: 50px !important;
}

.sidebar-dropdown_item {
  background: rgba(104, 104, 104, 1);
}

.sidebar-menu_items {
  margin: 0 !important;
  padding: 5px 0 !important;
}

.sidebar-menu_items a {
  display: block !important;
  margin-left: 30px;
}

.sidebar-menu_items a::after {
  display: none !important;
}

.brand i svg {
  width: 50px;
}

.brand span svg {
  width: 130px;
  height: 40px;

  margin-top: 4px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: var(--primary-color) !important;
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 65px;
}

#sidebar.hide .brand span svg {
  display: none;
}

.bx-menu::before {
  opacity: 0;
}

.bx-menu svg {
  width: 25px;
  height: 25px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--white);
  z-index: 500;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.sidebar-menu_items a:hover {
  color: rgba(110, 214, 255, 1);
}

.dark_mode i {
  font-size: 20px;
  cursor: pointer;
  z-index: 999909;
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--white);
  padding: 0 24px;
  display: flex !important;
  align-items: center !important;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: rgba(245, 254, 255, 1);
  outline: none;
  width: 100%;
  border: 1px solid rgba(5, 59, 80, 1);
  border-radius: 5px;
  color: var(--black);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color) !important;
  border-radius: 50%;
  transition: 0.5s ease;
}

#content nav .notification:hover {
  background: var(--primary-color);
}

#content nav .notification:hover svg path {
  stroke: var(--white);
  fill: var(--white);
}

.notification svg {
  width: 20px !important;
}

#content nav .profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  transition: 0.5s ease;
}

#content nav .profile:hover {
  background: var(--primary-color);
}

#content nav .profile:hover svg path {
  stroke: var(--white);
  fill: var(--white);
}

#content nav .profile svg {
  width: 22px;
}

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

@media screen and (max-width: 770px) {
  #content nav .notification {
    width: 35px;
    height: 35px;
  }

  #content nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 10px !important;
  }

  #content nav .profile {
    border: none;
    width: 50%;
  }

  #content nav .notification:hover {
    background: none;
  }

  #content nav .notification {
    border: none !important;
    width: 50%;
  }

  #content nav .profile {
    background: white;
  }

  #content nav .profile:hover svg path {
    stroke: var(--primary-color) !important;
    fill: var(--primary-color) !important;
  }
}

@media screen and (max-width: 577px) {
  #content nav label {
    display: none !important;
  }
  #content nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 0px !important;
  }
}
/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#content main .box-info li .text p {
  color: var(--dark);
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}
#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
  padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}
#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
  width: 100%;
}
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}
